* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  background-image: url("media/sfondo-rovere-scuro.jpg");
}
/* Regole del Contenitore di tutti i nostri elementi */
.container {
  margin: auto;
  max-width: 1600px;
}

/* Regole dell'header (header) */
header {
  width: 1600px;
  height: 680px;
  position: relative;
}
.img-header {
  background-image: url("media/wood.jpg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 480px;
  border: solid 10px #ffffff;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  color: #ffffff;
  text-shadow: 4px 4px #000000;
}
h2 {
position: absolute;
bottom: 25%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Oswald', sans-serif;
font-size: 50px;
color: #ffffff;
text-shadow: 4px 4px #000000;
}
/* Regole del menu (nav) */
nav {
  width: 1600px;
  height: 100px;
  background-color: #616161;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
}
.cont-menu {
  text-align: center;
}
.cont-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cont-menu li {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  display: inline-block;
  padding: 38px 40px;
}
.cont-menu a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0.5px 0.5px #000000;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 20px;
}
.cont-menu a:hover {
    color: #90A4AE;
  }

/* Regole del Corpo della nostra pagina (main) */
main {
  margin-top: 30px;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
/* Regole della Sidebar sinistra (navsx) */
.navsx {
  height: 830px;
  float: left;
  width: 20%;
  position: relative;
  background-color: #ffffff;
  border: 3px solid lightgrey;
  border-radius: 10px;
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  color: #6D4C41;
  margin: 40px 0 60px 90px;
}
.icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8%;
  left: 10%;
}
.text-nav {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color: #388E3C;
  margin: 30px 30px;
}
/* Regole Sezione della nostra pagina (section) */
section {
  height: 600px;
  float: left;
  width: 50%;
  background-color: #ffffff;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid lightgrey;
  border-radius: 10px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: #6D4C41;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  margin: 40px 0 60px 30px;
}
.text {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  color: #000000;
  line-height: 1.6;
  margin: 0 30px;
}
/* Regole Widget della nostra pagina (aside) */
aside {
  height: 1500px;
  float: right;
  width: 20%;
}
.widget {
  background-color: #ffffff;
  height: 450px;
  width: 100%;
  margin-bottom: 50px;
  border: 3px solid lightgrey;
  border-radius: 10px;
}
.text-widget {
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  color: #6D4C41;
  margin: 40px 0 60px 30px;
}
/* Regole Footer della nostra pagina (footer) */
footer #contact {
  width: 1600px;
  height: 380px;
  position: relative;
  background-color: #ffffff;
  border: 3px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 100px;
}
.text-footer {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #263238;
}
hr {
  color: #263238;
  margin-top: 140px;
}
.icon-footer {
  display: inline-block;
}
.img-footer {
  width: 60px;
  height: 60px;
  margin: 80px 230px 0 230px;
}
